.hero{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.hero-left {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    gap: 2rem;

}
.hero-name {
    display: flex;
    flex-direction: column;   
}
.hero-name > :nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.hero-name > :nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.type{
    color: var(--purple);
    font-weight: bold;
    font-size: 3rem;
}

.hero-name > :nth-child(3){
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--gray);
    margin-top: 10px;   
}

.hero-btn {
    width: 6rem;
    height: 3rem;
}

.hero-icon {
    margin-top: 2rem;
    display: flex;
    gap: 0rem;
}

.hero-icon>*{
    transform: scale(0.5);
}

.hero-icon:hover{
    cursor: pointer;
}

.hero-right {
    flex: 1;
}
.hero-right>*{
    position: absolute;
    z-index: 1;
}

.hero-right>:nth-child(1){
    transform: scale(0.69);
    right: 8%;
    top: 20%;
}

.hero-right>:nth-child(2){
    top: 5.6rem;
    transform: scale(0.67);
    right: 2rem;
}
.hero-right>:nth-child(3){
    top: 5.6rem;
    transform: scale(1.4);
    right: 14rem;
    top: 10.5rem;
}
.hero-right>:nth-child(4){
    transform: scale(0.7);
    top: 5rem;
    border-radius: 50%;
}
.effect {
    position: absolute;
    width: 25rem;
    height: 20rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: 18%;
    left: 56%;
    filter: blur(72px);
}