.nav-wrapper {
    height : 10vh;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 2rem;
}
.name {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.nav-item {
    flex: 10;
}
.nav-item>ul{
    display: flex;
    gap: 2.2rem;
    margin-right: 4rem;
}

.nav-item>ul>li:hover {
    cursor: pointer;
    color: var(--orange);

}